[bot.settings]
token = ""
owner_ids = []

[bot.webhooks]
error = ""

[bot.emojis]
menu = 0
edit = 0
color = 0
image = 0
add = 0
remove = 0
toggle_on = 0
toggle_off = 0
text_channel = 0
voice_channel = 0

[bot.badges]
active_developer = 0
bug_hunter = 0
bug_hunter_level_2 = 0
discord_certified_moderator = 0
early_supporter = 0
hypesquad = 0
hypesquad_balance = 0
hypesquad_bravery = 0
hypesquad_brilliance = 0
nitro = 0
partner = 0
staff = 0
verified_bot_developer = 0

[database.settings]
host = ""
user = ""
database = ""
password = ""